name: Release workflow

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  release:
    name: Release on GitHub
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP with composer
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - name: Build project
        run: |
          cd /home/runner/work/pdf/
          rm -r pdf/.git* pdf/tools
          tar -zcvf pdf-${{ github.ref_name }}.tgz pdf

      - name: Upload release
        uses: actions/upload-artifact@v4
        with:
          name: pdf-${{ github.ref_name }}.tgz
          path: /home/runner/work/pdf/pdf-${{ github.ref_name }}.tgz
      
      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          files: /home/runner/work/pdf/pdf-${{ github.ref_name }}.tgz
          body: "New release is available"
          name: ${{ github.ref_name }}
          draft: false
          generate_release_notes: true
          
      - name: Create ITSM Ticket
        uses: itsmng/itsm-ng_create_ticket_action@master
        with:
          titre: "Release PDF (SaaS)"
          contenu: "version: ${{ github.ref_name }} "
          priority: 3
          entite_id: 15
          group_id: 22
          api_url: "https://support.itsm-ng.com/apirest.php"
          APP_TOKEN: ${{ secrets.APP_TOKEN }}
          USER_TOKEN: ${{ secrets.USER_TOKEN }}
